@media screen and (max-width: 850px){
    img{
        width: 200px;
    }
}

@media screen and (min-width: 850px){
    img{
        width: 200px;
    }
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://d1yei2z3i6k35z.cloudfront.net/207491/66ad8e1376510_fondfredirick.png");
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 940px;
    margin: 10%;
}