

.title{
    font-size: 35px;
    font-family: Poppins;
    line-height: 38.4px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.title span{
    color: #dbbe7D;
}

.subTitle{
    font-size: 19px;
    font-family: Poppins;
    color: #fff;
    text-align: center;
}

.img img{
    width: 340px;
    animation: zoomInOut 5s ease-in-out infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
