footer{
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border-top: 1px solid #ccc;
    text-align: center;
}